/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//css style for multiselect-dropdown height
.multiselect-dropdown {
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    height: 43px !important;
}
.dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    height: 44px !important;
}
//end

.mat-mdc-paginator-outer-container {
    display: flex;
    float: right;
   // margin-right: 250px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 48px;
    height: 48px;
    padding: 12px;
    // float: right;
    // margin-right: 198px;
    
    float: right;
    margin-right: 34px;

}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
    float: right;
    margin-right: -385px;
    //width: 100px;
}

.mat-mdc-paginator-range-actions {
    display: flex;
    align-items: center;
    float: right;
    margin-right: -136px;
}